h1 {
    font-size: 3vw;
    text-transform: uppercase;
    margin-top: 3vw;
}

.obligationsList {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(10vw);
    border-radius: 2vw;
    padding: 2vw;
}

.obligation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2vw;
    padding: 2vw;
    border: 1px solid white;
}

.obligationInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 2vw;
}

.obligationInfo > p, .obligationInfo > a {
    margin-top: 1vw;
}

.obligation_description {
}

.obligation_debt {
}

.obligation_contributed {
}

.obligation_makeContribution {
    padding: 0.5vw 1.5vw;
    border: 1px solid white;
    border-radius: 2vw;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}
.obligation_makeContribution:visited {
    color:white;
}

.obligation_photo {
    width: 20vw;
    margin-left: 3vw;
}
