<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/default.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
<div th:replace="/header :: header"></div>
<div class="indexContainer">
    <h1>Добро пожаловать в Ломбард "ООО СКОЛЛЕКТОРАМИЗАОДНО"</h1>
    <p>"ООО СКОЛЛЕКТОРАМИЗАОДНО", ломбард пользующийся спросом и доверием у большого числа людей</p>
    <a href="/users/create" class="goToLogin" sec:authorize="!isAuthenticated()">Войти в аккаунт</a>
</div>
</body>
</html>