<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/default.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <title>Авторизация</title>
</head>
<body>
<div th:replace="/header :: header"> </div>
<form th:action="@{/users/perform-login}"th:method="post" class="formCustom">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" th:name="username">
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:name="password">
    </div>
    <button type="submit">Войти</button>
</form>
<a href="/users/create" class="regLink">Зарегистрироваться</a>
</body>
</html>